<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Student">Student</a>
                </li>
                <li class="nav-item pull-right">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">회원가입</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="m-5">
        @RenderBody()
    </div>
    
    <hr class="featurette-divider" />
    <div class="bg-light text-center pb-3">
        <p>Sunghee</p>
    </div>
</body>
</html>
